.schedule h1 {
  font-family: 'Raleway';
  text-align: center;
  font-size: 3em;
  color: #333;
}

.schedule-imgs {
  display: flex;
  justify-content: center;
}
.schedule-imgs img {
  width: 200px;
  height: 300px;
  margin: 0 10px;
  border-radius: 15px;
}
.schedule-imgs img:first-child{
  border-radius: 50px 15px 15px 50px;
}
.schedule-imgs img:last-child{
  border-radius: 15px 50px 50px 15px;
}

.schedule-content {
  text-align: center;
}

.schedule-content ul {
  list-style: none;
  padding-left: 0;
  font-family: 'Comfortaa';
}

.schedule-content a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.schedule-content a:visited {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.schedule-content a:hover {
  text-decoration: underline;
}
