/*39a0ac = Color*/

body, html{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.home{
    height: 100vh;
    background-image: url("../img/bgapolo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100vh;
}
.menu{
    height: 4vh;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: hidden;
}
.submenu2 span{
    font-size: 1.3em;
    padding: 0 20px;
}
.submenu1{
    font-size: 1.3em
}
.subicons{
    /*display: none;*/
    visibility: hidden;
}
.logo{
    justify-content: center;
    padding-bottom: 50px;
}
.logo img{
    width: auto;
    height: 30vw;
    min-height: 200px;
}

@media only screen and (max-width : 550px) {
    .submenu2{
        display: none;
    }
    .menu{
        justify-content: space-between;
    }
    .submenu1{
        padding-left: 2%;
    }
    .subicons{
        display: flex;
        visibility: visible;
        padding: 0 20px;
        align-items: center;
    }

}

.social{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "sec1 sec2"
            "sec1 sec2";

}
.sub-social1 .line{
    border-bottom: 2px solid #4d4d4d;
    width: 13vmax;
}
.sub-social1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sub-social1 h1{
    margin-bottom: 10px;
    font-size: 3em;
    font-family: "Raleway";
    color: #222;
}
.sub-social1 img{
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    padding: 2px;
    border-radius: 50%;
    margin: 2em 0;
}
.sub-social1 p{
    padding: 0 100px;
    font-family: "Comfortaa";
    text-align: center;
}
.sub-social2 a{
    display: flex;
    text-decoration: none;
    color: #4d4d4d;
    width: 60px;
    border: 2px solid #333;
    padding: 20px 50px;
    margin-bottom: 30px;
    justify-content: center;
    font-family: "Comfortaa";
}
.sub-social2 a:hover{
    color: white;
    background-color: #333;
}
.sub-social2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
