/*39a0ac = Color*/

body, html{
    margin: 0;
    padding: 0;
    /*overflow-x:  hidden;*/
    /*height: 100%;*/

}


p {
  font-family: "Comfortaa";
  text-align: center;
}
h2 {
  font-family: "Open Sans Condensed";
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
/*Home*/
.home{
    display: none;
    height: 100vh;
    /*min-width: 100%;*/
    /*background-image: url("../img/bgapolo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100vh;*/
    background-color: #8d8d8d;
}
.menu{
    height: 4vh;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: hidden;
}
.submenu2 span{
    font-size: 1.3em;
    padding: 0 20px;
}
.submenu1{
    font-size: 1.3em
}
.subicons{
    /*display: none;*/
    visibility: hidden;
}
.logo{
    justify-content: center;
    padding-bottom: 50px;
}
.logo img{
    width: auto;
    height: 30vw;
    min-height: 200px;
}

/*Social*/
.social{
    min-height: 100vh;
    /*min-width: 100%;*/
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.sub-social1 .line, .sub-social2 .line{
    border-bottom: 2px solid #4d4d4d;
    width: 300px;
}
.sub-social1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #e6e6e6;

}
.sub-social1 h1, .sub-social2 h1{
    margin-bottom: 10px;
    font-size: 3em;
    font-family: "Raleway";
    color: #222;
    text-align: center;
}
.sub-social2 h1{
    /*margin: 63px 0 0 0;*/
}
.sub-social2 h3{
    font-family: "Raleway";
    color: #222;
    margin: 5px 0;
    text-align: center;
}
.sub-social1 img{
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    padding: 2px;
    border-radius: 50%;
    margin: 2em 0;
    transition: all 0.6s;
}
.sub-social1 p{
    padding: 0 100px;
    width: 590px;
    transition: all 0.6s;
}
.sub-social2{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% auto;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
}
.sub-social2 .head-social{
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
.sub-social2 .links{
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.sub-social2 a{
    display: flex;
    text-decoration: none;
    color: #4d4d4d;
    width: 60px;
    border: 2px solid #333;
    padding: 20px 50px;
    margin: 20px 0 20px 0;
    justify-content: center;
    font-family: "Comfortaa";
    transition: all 0.6s;
}
.sub-social2 a:hover{
    color: white;
    background-color: #333;
}



/*Integrantes*/
.integrantes {
  min-height: 100vh;
  background-color: #c6c6c6;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;

}
.integrantes-header {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.integrantes h1{
    width:100%;
    display:inline-block;
    font-size: 3em;
    font-family: "Raleway";
    color: #222;
    text-align: center;
    margin-bottom: 5px;
}
.integrantes .line{
    border-bottom: 2px solid #4d4d4d;
    width: 22vmax;
    margin-bottom: 10px;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px 0;

  }
.person img {
  width: 180px;
  height: 180px;
  border: 2px solid #333;
  padding: 2px;
  border-radius: 50%;
  }

.person h2, .person p {
  text-align: center;

}

.person h2 {
  margin: 5px 0 0;
}
.person p {
  margin: 5px 0 0;
}
.integrantes .space{
    height: 32.15px;
}
/*Footer*/
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 200px;
    background-color: #e6e6e6;
    font-family: "Raleway";
    color: #333;
}
.footer .contact{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px;
}
.footer .contact h1{
    text-align: center;
}
.footer img{
    width: 15%;
    justify-self: center;
    align-self: center;
    margin: 10px 0 0 0;
    opacity: 0.5;
}
.footer .fc{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 100px;
}
.footer .fc h1{
    text-align: center;
    align-self: center;
}
.footer .fc span{
    text-align: center;
    align-self: center;
    font-family: "Comfortaa";
    color: #444;
}
.footer .fc span a{
    color: inherit;
    text-decoration: none;
}
.footer .fc span a:hover{
    text-decoration: underline;
}
/*Responsive design*/

@media only screen and (max-width : 1090px) {
    .social{
        grid-template-columns: 1fr;
        /*background-color: #a85054;*/

    }
    .sub-social2{
        grid-template-rows: auto auto;
    }
    .sub-social2 .links{
        flex-direction: row;
    }
    .sub-social2 .links a{
        margin: 20px 20px;
    }

}

@media only screen and (max-width : 792px) {
    .social .sub-social1 img{
        width: 190px;
        height: 190px;
    }
    .social .sub-social1 p{
        padding: 0;
        width: 300px;
        font-size: 0.95em;
    }
    .social .sub-social1 h1{
        font-size: 2.5em ;
    }
    .social .sub-social2 h1{
        font-size: 2.3em ;
    }
    .social .sub-social2 h3{
        font-size: 0.95em ;
    }
    .social .sub-social2 a{
        font-size: 0.95em ;
        width: 30px;
    }
    body .integrantes {
      grid-template-columns: 1fr 1fr;
    }
    body .integrantes-header{
        grid-column: 1 /3;
    }
}

@media only screen and (max-width : 496px) {
    body .integrantes {
      grid-template-columns: 1fr;
    }
    body .integrantes-header{
        grid-column: 1 / 2;
    }

}

@media only screen and (max-width : 348px) {
    .social .sub-social1 p{
        padding: 0;
        width: 250px;
        font-size: 0.81em ;
    }
    .social .sub-social1 h1{
        font-size: 2.2em ;
    }
    .social .sub-social2 h1{
        font-size: 1.9em ;
    }
    .social .sub-social2 h3{
        font-size: 0.75em ;
    }
    .social .sub-social2 a{
        font-size: 0.85em ;
        width: 20px;
        padding: 15px 40px;
    }
    .sub-social1 .line, .sub-social2 .line{
        border-bottom: 2px solid #4d4d4d;
        width: 200px;
    }
    .person p {
      /*display: none;*/
    }
}
