html{
  font-size: 20px;
}

body{
  margin: 0;
  padding: 0;
}

.Top{
  background-color: #202022;
  height: 35px;
}
.Top-links{
  float: right;
  text-align: left;
  font-size: 1.2em;
  height: 100%;
}
.Top-content{
  float: left;
  font-size: 1em;
  vertical-align: center;
  color: white;
  height: 100%;
}
.Top-content p {
  margin: 5px 0px;
  line-height: 100%;
}
.Top-content, .Top-links {
  position: relative;
  top: 1px;

}
.Top a, .Top a:visited{
  color: #fff;
}
.menu *{
  margin: 0;
  padding: 0;
}
.menu{
  background-color: #503333;
  height: 45px;
  position: sticky;
  top: 0px;
}
.menu ul{
  height: 45px;
}
.menu li{
  list-style: none;
  display: inline;
  font-size: 1.25rem;
  padding: 5px 50px 10px 50px;

}
.menu li:hover{
  background: #36aebe;
}
.menu a, .menu a:visited{
  color: #fff;
  text-decoration: none;
}
#active{
  text-shadow: #febc4d 0px 0px 15px;
}
