html{
  font-size: 20px;
}

body{
  margin: 0;
  padding: 0;
}

/*topo*/
.Top{
  display: flex;
  background-color: #202022;
  height: 32px;
  align-items: center;
  justify-content: space-between;
}

.Top-content, .Top-links{
  font-size: 16px;
  color: #ffffff;
  margin: 0 10px;;
}

.Top-links a{
  font-size: 23px;
  color: #ffffff;
}
/*Fim topo*/

/*Menu*/
.menu{
  display: flex;
  margin: 0px;
  padding: 0px;
  background-color: #503333;
  height: 45px;
  align-items: stretch;
  justify-content: space-around;
}
.menu .item{
  display: flex;
  width: 25%;
  align-items: center;
}

.menu .item a, .menu .item  a:visited{
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.menu .item:hover{
  background: #36aebe;
}

#active{
  text-shadow: #febc4d 0px 0px 15px;
}
/*Fim menu*/
